@font-face {
  font-family: "Aux Pro";
  src: url("../assets/fonts/Aaux_ProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aux Pro";
  src: url("../assets/fonts/Aaux_ProBlack.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aux Next";
  src: url("../assets/fonts/AauxNext-Bd.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
