@use "../abstracts" as *;

.di_wrapper {
  width: 79rem;

  display: flex;
  align-items: center;
  justify-content: center;


    position: relative;
    
}

.di_container {
    overflow: hidden;
    border-radius: 26.4rem;
   
 

  position: relative;
}

.di_container {
  overflow: hidden;
  border-radius: 26.4rem;

}

.di_wrapper video {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .di_wrapper {
  width: 100%;

  }

  .di_container {
    width:95%;
  }
}
@media (max-width: 430px) {
   .di_wrapper {
  width: 100%;

  }

  .di_container {
    width:95%;
  }
}
@media (max-width: 415px) {
   .di_wrapper {
  width: 100%;

  }

  .di_container {
    width:95%;
  }
}

@media (max-width: 375px) {
   .di_wrapper {
  width: 100%;

  }

  .di_container {
    width:95%;
  }
}

@media (max-width: 320px) {
   .di_wrapper {
  width: 100%;

  }

  .di_container {
    width:95%;
  }
}
