@use '../abstracts' as *;

.ti_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    padding: 3rem;
    border-radius: 100%;
    
    background-color: $main-color;

    @include respond-to("tablet") {
   padding: 1.5rem;
   right:25rem;
  }
}

.ti_wrapper span {
    font-size: 6rem;
    font-family: 'Aux Pro';
    font-weight: bold;

    color: $white-color;

    @include respond-to("tablet") {
   font-size: 1.5rem;
  }
}