.lo_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: url("../assets/svgs/backgrounds/background_03.svg") no-repeat;
  background-position: center;
}

.lo_container {
    
    justify-content: center;
    align-items: center;
}

.lo_image_container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.lo_description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lo_btn-container {
    display: flex;
    justify-content: center;
}