@use "../abstracts" as *;

.we_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.we_container {
  flex: 1;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/svgs/backgrounds/background_03.svg");
  background-repeat: no-repeat;
  background-position: cover;
}

.we_content {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;

  & > :nth-child(2) {
    margin-top: 9rem;
  }

  & > :nth-child(3) {
    margin-top: 7.6rem;
  }

  & > :nth-child(4) {
    margin-top: 6.7rem;
    position: relative;
  }
}

.we_highlight {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Aux Pro";
  font-weight: bold;
  color: $blue-color;
}

/* ============= Media Queries ============= */

@media (max-width: 1024px) {
     .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 50rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 50rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 50rem;
      }
    }
  }

}

@media (max-width: 820px) {

    .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 43rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 43rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 43rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 38rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 38rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 38rem;
      }
    }
  }
}


@media (max-width: 430px) {
   .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 30rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 30rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 30rem;
      }
    }
  }
}

@media (max-width: 414px) {
  .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 30rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 30rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 30rem;
      }
    }
  }
}

@media (max-width: 375px) {

  .we_content {

    .we_highlight{
      font-size: 1.5rem;
   }

    & > :nth-child(2) {
      margin-top: 2rem;

      img {
        width: 25rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 25rem;
      }
    }

    & > :nth-child(4) {
      margin-top: 1.7rem;
      position: relative;

      img {
        margin-top: unset;
        width: 22rem;
      }
    }
  }
}

@media (max-width: 320px) {
 .we_content {

  .we_highlight{
      font-size: 1.5rem;
   }
    

    & > :nth-child(2) {
       margin-top: 2rem;

      img {
        width: 15rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1.6rem;

      img {
        width: 15rem;
      }
    }

    & > :nth-child(4) {
       margin-top: 1.7rem;
      position: relative;

      img {

      margin-top: unset;

      img {
        width: 15rem;
      }
    }

    
  }
}
}