@use "../abstracts" as *;

.we_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.we_container {
  flex: 1;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/svgs/backgrounds/background_03.svg");
  background-repeat: no-repeat;
  background-position: cover;
}

.we_content {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;

  & > :nth-child(2) {
    margin-top: 9rem;
  }

  & > :nth-child(3) {
    margin-top: 7.6rem;
  }

  & > :nth-child(4) {
    margin-top: 6.7rem;
    position: relative;
  }
}

.we_highlight {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Aux Pro";
  font-weight: bold;
  color: $blue-color;
}

/* ============= Media Queries ============= */

@media (max-width: 1024px) {
}

@media (max-width: 820px) {
}

@media (max-width: 768px) {
}
@media (max-width: 430px) {
}

@media (max-width: 414px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
  .we_highlight {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .we_content {
    height: 100%;
    gap: 2rem;
    & > :nth-child(2) {
      margin-top: unset;

      img {
        width: 15rem;
      }
    }

    & > :nth-child(3) {
      margin-top: unset;

      img {
        width: 15rem;
      }
    }

    & > :nth-child(4) {
      margin-top: unset;
      position: relative;
      bottom: 0;
      img {
        width: 15rem;
      }
    }
  }
}
