@use "../abstracts" as *;
@use "../base" as *;

.wi_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  
  position: relative;
  
  background: url("../assets/svgs/backgrounds/background_05.svg") no-repeat;
  background-position: center;
  
  font-family: "Aux Next";
}

.wi_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  z-index: 2;

  padding: 0 6rem;
  gap: 6rem;
}

.wi_image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wi_description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.4rem;
}

.wi_title {
  font-size: 5rem;
  text-transform: uppercase;
  color: $blue-color;
  font-weight: bold;
}

.wi_description-content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  text-align: center;

  span {
    font-size: 4.2rem;
    font-family: "Aux Pro";
    font-weight: 800;

    text-transform: uppercase;

    color: $blue-color;
  }

  .wi_description-content {
    width: 68%;
    text-align: center;

    span {
      font-size: 4rem;
      font-weight: 600;

      text-transform: uppercase;
      line-height: 5.5rem;

      color: $blue-color;
      display: block;

      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

.wi_btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============= Media Queries ============= */

@media (max-width: 1024px) {
 

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 48rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 4rem;
  }

   .wi_description-content {
    gap: 2rem;
    
    span {
      line-height:4rem;
      font-size: 3rem;
    }
  }
}

@media (max-width: 820px) {
  .wi_container {
    gap: 4rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 42rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 3rem;
  }

  .wi_description-content {
    gap: 2rem;
    
    span {
      line-height:3.8rem;
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 768px) {
  .wi_container {
    gap: 4rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 38rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 3.3rem;
  }

  .wi_description-content {
    gap: 1.8rem;
    
    span {
      line-height:3.6rem;
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 430px) {
  .wi_container {
    gap: 4rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 28rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 2.6rem;
  }

  .wi_description-content {
     gap: 1.8rem;
    span {
      line-height:2.6rem;
      font-size: 2rem;
    }
  }
}

@media (max-width: 414px) {
  .wi_container {
    gap: 3rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 24rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 2.4rem;
  }

  .wi_description-content {
    gap: 1.5rem;
    span {
      line-height:2.4rem;
      font-size: 1.8rem;
    }

    
  }
}

@media (max-width: 375px) {
  .wi_container {
    gap: 2rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 20rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 2rem;
  }

  .wi_description-content {
    
    gap: 2rem;

    span {
      line-height: 2.2rem;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 320px) {
  .wi_container {
    gap: 2rem;
  }

  .wi_image_container {
    gap: 2rem;

    div {
      img {
        width: 16rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 2rem;
  }

  .wi_description-content {
     gap: .8rem;

    span {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

  }
}

@media (max-width: 320px) and (max-height:480px) {
  .wi_container {
    gap: 1rem;
  }

  .wi_image_container {
    gap: 1rem;

    div {
      img {
        width: 15rem;
      }
    }
  }

  .wi_description-container {
    gap: 1.4rem;
  }

  .wi_title {
    font-size: 1.5rem;
  }

  .wi_description-content {
     gap: .8rem;

    span {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

  }
}
